.container {
  padding: 0 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.mainImage {
  background-image: url('/images/main-image.jpg');
  width: 100vw;
  height: 600px;
  background-size: cover;
  filter: grayscale(100%);

  hr {
    width: 90%;
  }
}

.mainImageText {
  width: 40%;
  position: absolute;
  top: 120px;
  right: 50px;
  color: #292f32;
}

.smartsimpleCloud {
  display: grid;
  grid-template-columns: 1fr 3fr;

  h2,
  h1 {
    margin: 0;
  }
}

.cloud {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
}

.containerG {
  background-color: #058488;
  padding: 120px 30px;
  text-align: center;
}

.containerO {
  background-color: #d6621f;
  padding: 200px 30px;
  text-align: center;
}

.containerI {
  background-color: #f7f4f0;
  padding: 200px 30px;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .mainImage {
    height: 400px;
  }
}
